import { Environment } from '@aws-cdk/core'

const toolsAccountEnv: Environment = {account: '<ToolsAccountId>', region: '<ToolsAccountRegion>'}; 
const preprodEnv: Environment = {account: '<TargetAccountId-Preprod>', region: '<TargetAccountRegion-Preprod>'};
const prodEnv: Environment = {account: '<TargetAccountId-Production>', region: '<TargetAccountRegion-Production>'};

const target = '<TargetAccountIdentifier>';
const appName = 'WAF';

const defaultAllowedIPs = [
    'a.a.a.a/32', 'b.b.b.b/32',     // Offices
    'c.c.c.c/32', 'd.d.d.d/32',     // Payment Gateways
]

const connectionArn = '<ArnOfToolsAccountCodeStarConnection>'
const repoOwner = '<RepositoryOwnerId>'
const RepoName = '<RepositoryName>'

export const preproduction_config = {
    envname: target + '-' + appName + '-preprod',
    // BitBucket repository info start
    owner: repoOwner,
    repo: RepoName,
    branch: 'preproduction',    // Update this line as necessary
    // BitBucket repository info end
    connectionArn: connectionArn,
    env: toolsAccountEnv,
    manualApprovals: true,  // Switch to "false" if you want to disable CFN Manual Approval step
}

export const production_config = {
    envname: target + '-' + appName + '-prod',
    // BitBucket repository info start
    owner: repoOwner,
    repo: RepoName,
    branch: 'production',    // Update this line as necessary
    // BitBucket repository info end
    connectionArn: connectionArn,
    env: toolsAccountEnv,
    manualApprovals: true,  // For safety, leave this as "true" for production 
}
